.main-container {
    margin: 0 auto;
    display: flex;
    padding: 30px;
    height: 720px;
}

.registration-company {
    display: flex;
    flex-direction: column;
}

.form-container {
    background: #505050;
    padding: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
}

.image-green {
    background-image: url("../../../assets/login-form-design-green.jpg");
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 400px;
}

h1 {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: 40px;
    text-align: start;
    margin: 50px;
    font-family: auto;
}

.header-welcome {
    text-transform: none;
    font-family: sans-serif;
    letter-spacing: 1.6px;
}

h2 {
    background-image: linear-gradient(to right, yellow, orange);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 24px;
    border-radius: 30px;
    margin-bottom: 40px;
    padding: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: orange !important;
}

mat-label {
    color: orange;
}

mat-icon {
    color: orange;
}

mat-form-field {
    color: white;
    width: 400px;
}

.form {
    height: 65px;
}

.button-save {
    text-align: center;
}

button {
    background-image: linear-gradient(to right, yellow, orange);
    width: 40%;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 30px;
}

.buttons{
    display: flex;
    column-gap: 30px;
}