<div class="main-container">
    <div class="form-container">
        <h2>Register Company</h2>
        <div class="registration-company">
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>add_business</mat-icon>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>flag</mat-icon>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>Registration Number</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>app_registration</mat-icon>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>VAT Number</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>app_registration</mat-icon>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="form-width" appearance="legacy">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="button-save">
            <button mat-raised-button>Save</button>
        </div>
    </div>
</div>
