.main-container {
    display: flex;
    padding: 40px;
    margin-left: 10%;
    margin-top: 25px;
}

.registration-company {
    display: flex;
    flex-direction: column;

}

h2 {
    background-image: linear-gradient(to right, yellow, orange);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 24px;
    border-radius: 3px;
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: orange !important;
}

mat-label {
    color: orange;
}

mat-icon {
    color: white;
}

mat-form-field {
    color: white;
    width: 400px;
}

.form {
    height: 65px;

}

.button-save {
    text-align: center;
}

button {
    background-image: linear-gradient(to right, yellow, orange);
    width: 40%;
    margin-top: 20px;
    text-transform: uppercase;
}
