<div class="form" [formGroup]="data.formControlGroup">
    <div class="form-adress-name">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
    </div>
    <div class="container-form">
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country">
        </mat-form-field>
    </div>
    <div class="container-form">
        <mat-form-field appearance="outline">
            <mat-label>Registration Number</mat-label>
            <input matInput formControlName="registrationNumber">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>VAT Number</mat-label>
            <input matInput formControlName="vatNumber">
        </mat-form-field>
    </div>
    <div class="container-form">
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
    </div>
    <div class="button-box-remove">
        <button mat-raised-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data">Update</button>
    </div>
</div>