table {
    width: 1000px;
}

.add-company-button {
    margin-bottom: 5px;
}

.cursor-pointer:hover {
    text-decoration: underline;
    cursor: pointer;
}

::ng-deep.mat-tooltip {
    font-size: 14px;
}