<div>
    <mat-toolbar>
        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
        <button mat-button>My App</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/companies']">Companies</button>
            <button mat-menu-item [routerLink]="['/projects']">Projects</button>
            <button mat-menu-item [routerLink]="['/user']">Users</button>
            <button mat-menu-item [routerLink]="['/feature']">Features</button>
        </mat-menu>
        <span class="spacer"></span>
        <button mat-icon-button class="icon-users">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="icon-settings">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>
</div>